In [84]:
import os # This will be used to tell us where the file is
import pandas as pd
import numpy as np

In [153]:
pwd = os.getcwd() # This creates a string of the folder this Python Script is stored in

filepath = pwd + "/Uncleaned_DS_jobs.csv" # This creates a string that is the filepath to the simple_csv file
raw_data = pd.read_csv(filepath) # This reads the csv into Python
raw_data.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [154]:
cleaned_data = raw_data.copy()

***
Let's explore first our data

In [155]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [156]:
# Check for missing null values
print(cleaned_data.isnull().sum())

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [157]:
cleaned_data.describe()

            index      Rating      Founded
count  672.000000  672.000000   672.000000
mean   335.500000    3.518601  1635.529762
std    194.133974    1.410329   756.746640
min      0.000000   -1.000000    -1.000000
25%    167.750000    3.300000  1917.750000
50%    335.500000    3.800000  1995.000000
75%    503.250000    4.300000  2009.000000
max    671.000000    5.000000  2019.000000

* Notice the min values of both the Rating and Founded is -1.
* Plus we don't need the index column.

Drop Unnecessary Columns: Index, Competitors \
Both Columns are irrelevant

In [158]:
# drop the index, Competitors cols.
cleaned_data.drop(['index'], axis=1, inplace=True)
cleaned_data.drop(['Competitors'], axis=1, inplace=True)

#### Handling Null Values

In [160]:
# Check for missing values
print(cleaned_data.isnull().sum())

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
dtype: int64

* It's clear that we don't have any null values in the dataset

In [161]:
# Check if any column contains infinite values
cleaned_data.isin([np.inf, -np.inf]).any()

Job Title            False
Salary Estimate      False
Job Description      False
Rating               False
Company Name         False
Location             False
Headquarters         False
Size                 False
Founded              False
Type of ownership    False
Industry             False
Sector               False
Revenue              False
dtype: bool

* Dataset doesn't contain infinity.
***

### Clean and Standardize Columns

##### Handling the Job Title Col.

In [162]:
cleaned_data['Job Title'].value_counts()

Job Title
Data Scientist                                            337
Data Engineer                                              26
Senior Data Scientist                                      19
Machine Learning Engineer                                  16
Data Analyst                                               12
                                                         ...
Data Science Instructor                                     1
Business Data Analyst                                       1
Purification Scientist                                      1
Data Engineer, Enterprise Analytics                         1
AI/ML - Machine Learning Scientist, Siri Understanding      1
Name: count, Length: 172, dtype: int64

In [163]:

cleaned_data['Job Title'].unique()

array(['Sr Data Scientist', 'Data Scientist',
       'Data Scientist / Machine Learning Expert',
       'Staff Data Scientist - Analytics',
       'Data Scientist - Statistics, Early Career', 'Data Modeler',
       'Experienced Data Scientist', 'Data Scientist - Contract',
       'Data Analyst II', 'Medical Lab Scientist',
       'Data Scientist/Machine Learning', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights',
       'Data Scientist - Risk', 'Data Scientist-Human Resources',
       'Senior Research Statistician- Data Scientist', 'Data Engineer',
       'Associate Data Scientist', 'Business Intelligence Analyst',
       'Senior Analyst/Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Data Analyst I',
       'Scientist - Molecular Biology',
       'Computational Scientist, Machine Learning',
       'Senior Data Scientist', 'Jr. Data Engineer',
       'E-Commerce Data Analyst', 'Data Analytics Engineer',
       'Product Data Scientist - Ads Data Science',
       'Data Scientist - Intermediate', 'Global Data Analyst',
       'Data & Machine Learning Scientist',
       'Data Scientist - Machine Learning', 'Data Engineer (Remote)',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Principal Data Scientist', 'Business Data Analyst',
       'Purification Scientist', 'Data Engineer, Enterprise Analytics',
       'Data Scientist 3 (718)', 'Real World Science, Data Scientist',
       'Data Scientist - Image and Video Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Data Scientist / Applied Mathematician',
       'Patient Safety- Associate Data Scientist',
       '(Sr.) Data Scientist -', 'Data Scientist, Kinship - NYC/Portland',
       'Applied Technology Researcher / Data Scientist',
       'Health Data Scientist - Biomedical/Biostats',
       'Staff Data Scientist', 'Sr Data Engineer (Sr BI Developer)',
       'Lead Data Scientist', 'RFP Data Analyst',
       'Data Scientist (TS/SCI)', 'Software Engineer - Data Science',
       'Data Analyst/Engineer', 'NGS Scientist', 'Senior Data Engineer',
       'Sr. ML/Data Scientist - AI/NLP/Chatbot',
       'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117', 'AI Data Scientist',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Say Business Data Analyst',
       'Geospatial Data Scientist', 'Computational Scientist',
       'Senior Data Analyst', 'Sr Data Analyst',
       'Machine Learning Scientist - Bay Area, CA',
       'Senior Data Scientist - Algorithms',
       'Senior Data & Machine Learning Scientist',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Sr. Data Scientist II',
       'Production Engineer - Statistics/Data Analysis',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Data Scientist - Machine Learning',
       'Principal Machine Learning Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics - Business Assurance Data Analyst',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'In-Line Inspection Data Analyst',
       'Data Scientist - TS/SCI FSP or CI Required',
       'Data Scientist - TS/SCI Required',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'AI Ops Data Scientist', 'Intelligence Data Analyst, Senior',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Report Writer-Data Analyst', 'Staff Data Scientist - Pricing',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Operations Data Analyst', 'Software Data Engineer',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Staff BI and Data Engineer',
       'Data Scientist - Statistics, Mid-Career',
       'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics',
       'Diversity and Inclusion Data Analyst',
       'Data Scientist Machine Learning', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist',
       'Data Analyst - Unilever Prestige', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Scientist - Machine Learning', 'Sr. Data Scientist',
       'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Senior Data Analyst - Finance & Platform Analytics',
       'Market Research Data Scientist',
       'IT Partner Digital Health Technology and Data Science',
       'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG',
       'Senior Clinical Data Scientist Programmer',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Data Scientist (TS/SCI w/ Poly)',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Sr. Data Analyst',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Machine Learning Engineer',
       'Data Scientist- Industrial Discrete Sector Industry',
       'Senior Principal Data Scientist (Python/R)',
       'Data Scientist(s)/Machine Learning Engineer',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Machine Learning Scientist / Engineer', 'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Clinical Data Analyst', 'Data Scientist Technical Specialist',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Aviation AI/ML Data Scientist', 'Machine Learning Engineer, Sr.',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'Lead Data Scientist – Network Analysis and Control',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'Data Scientist/Data Analytics Practitioner',
       'AI/ML - Machine Learning Scientist, Siri Understanding'],
      dtype=object)

* We observe that the job tiles consists of primarly Data Scientist, Data Engineer, Machine Learning, Data Analyst etc.
* We can classify Job tiles to make the data set more comprehnisive. 
* We can create new feature about the seniority of the job i.e., Junior, Senior etc.

In [164]:
# Function to classify the job title col.
def job_title_classifier(title):

    if 'data scientist' in title.lower() or 'data science' in title.lower(): 
        return 'Data Scientist'
    elif 'data engineer' in title.lower():
        return 'Data Engineer'
    elif 'analyst' in title.lower():
        return 'Data Analyst'
    elif 'deep learning' in title.lower():
        return 'Deep Learning Scientist'
    elif 'machine learning' in title.lower():
        return 'Machine Learning Engineer'
    elif 'manager' in title.lower():
        return 'Manager'
    elif 'director' in title.lower():
        return 'Director'
    else:
        return 'NA'

In [165]:
cleaned_data['Job_Title_Simplified'] = cleaned_data['Job Title'].apply(job_title_classifier)
cleaned_data['Job_Title_Simplified'].value_counts()

Job_Title_Simplified
Data Scientist               474
NA                            55
Data Analyst                  54
Data Engineer                 46
Machine Learning Engineer     35
Manager                        4
Director                       2
Deep Learning Scientist        2
Name: count, dtype: int64

In [166]:
# To classify the seniority of the job
senior = ['senior', 'sr', 'sr.', 'lead', 'principal' ]
junior = ['junior', 'jr', 'jr.']
def seniority_classifier(title):
    if any(item in title.lower() for item in senior):
            return 'Senior'
    elif any(item in title.lower() for item in junior):
        return 'Junior'
    else:
        return 'NA'

In [167]:
cleaned_data['Job_Seniority'] = cleaned_data['Job Title'].apply(seniority_classifier)
cleaned_data['Job_Seniority'].value_counts()

Job_Seniority
NA        576
Senior     94
Junior      2
Name: count, dtype: int64


***
#### Handling the Salary Estimate Col.

In [168]:
cleaned_data['Salary Estimate'].value_counts()

Salary Estimate
$79K-$131K (Glassdoor est.)     32
$99K-$132K (Glassdoor est.)     32
$75K-$131K (Glassdoor est.)     32
$137K-$171K (Glassdoor est.)    30
$90K-$109K (Glassdoor est.)     30
$56K-$97K (Glassdoor est.)      22
$79K-$106K (Glassdoor est.)     22
$90K-$124K (Glassdoor est.)     22
$110K-$163K (Glassdoor est.)    21
$92K-$155K (Glassdoor est.)     21
$138K-$158K (Glassdoor est.)    21
$128K-$201K (Glassdoor est.)    21
$212K-$331K (Glassdoor est.)    21
$95K-$119K (Glassdoor est.)     21
$69K-$116K (Glassdoor est.)     21
$124K-$198K (Glassdoor est.)    21
$112K-$116K (Glassdoor est.)    21
$122K-$146K (Glassdoor est.)    21
$91K-$150K (Glassdoor est.)     21
$101K-$165K (Glassdoor est.)    21
$79K-$147K (Glassdoor est.)     20
$31K-$56K (Glassdoor est.)      20
$145K-$225K(Employer est.)      20
$141K-$225K (Glassdoor est.)    20
$66K-$112K (Glassdoor est.)     20
$80K-$132K (Glassdoor est.)     20
$87K-$141K (Glassdoor est.)     20
$105K-$167K (Glassdoor est.)    20
$79K-$133K (Glassdoor est.)     19
$71K-$123K (Glassdoor est.)     19
Name: count, dtype: int64

In [169]:
cleaned_data['Salary Estimate'].unique()

array(['$137K-$171K (Glassdoor est.)', '$75K-$131K (Glassdoor est.)',
       '$79K-$131K (Glassdoor est.)', '$99K-$132K (Glassdoor est.)',
       '$90K-$109K (Glassdoor est.)', '$101K-$165K (Glassdoor est.)',
       '$56K-$97K (Glassdoor est.)', '$79K-$106K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)', '$90K-$124K (Glassdoor est.)',
       '$91K-$150K (Glassdoor est.)', '$141K-$225K (Glassdoor est.)',
       '$145K-$225K(Employer est.)', '$79K-$147K (Glassdoor est.)',
       '$122K-$146K (Glassdoor est.)', '$112K-$116K (Glassdoor est.)',
       '$110K-$163K (Glassdoor est.)', '$124K-$198K (Glassdoor est.)',
       '$79K-$133K (Glassdoor est.)', '$69K-$116K (Glassdoor est.)',
       '$31K-$56K (Glassdoor est.)', '$95K-$119K (Glassdoor est.)',
       '$212K-$331K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$128K-$201K (Glassdoor est.)', '$138K-$158K (Glassdoor est.)',
       '$80K-$132K (Glassdoor est.)', '$87K-$141K (Glassdoor est.)',
       '$92K-$155K (Glassdoor est.)', '$105K-$167K (Glassdoor est.)'],
      dtype=object)

* It will be good if only keep the salary range without the additional un-nessaccery info.

In [170]:
# We split the whole Salary and we keep only the part with the digit e.g. $137K-$171K
cleaned_data['Salary Estimate'] = cleaned_data['Salary Estimate'].apply(lambda salary: salary.split('(')[0] )
# We replace the "$" with empty string
cleaned_data['Salary Estimate'] = cleaned_data['Salary Estimate'].apply(lambda salary: salary.replace('$', '') )
# We replace the "K" with empty string
cleaned_data['Salary Estimate'] = cleaned_data['Salary Estimate'].apply(lambda salary: salary.replace('K', '') )

In [171]:
cleaned_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Job_Title_Simplified,Job_Seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,Data Scientist,Senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),Data Scientist,NA
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),Data Scientist,NA
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),Data Scientist,NA
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,Data Scientist,NA

In [172]:
# We will create three cols. Min, Max and Average Salary
cleaned_data['Max_Salary_Estimate'] = cleaned_data['Salary Estimate'].apply(lambda x : int(x.split('-')[1]))
cleaned_data['Min_Salary_Estimate'] = cleaned_data['Salary Estimate'].apply(lambda x : int(x.split('-')[0]))
cleaned_data['Avg_Salary_Estimate'] = (cleaned_data['Max_Salary_Estimate'] + cleaned_data['Min_Salary_Estimate'])//2

In [173]:
cleaned_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Job_Title_Simplified,Job_Seniority,Max_Salary_Estimate,Min_Salary_Estimate,Avg_Salary_Estimate
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,Data Scientist,Senior,171,137,154
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),Data Scientist,NA,171,137,154
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),Data Scientist,NA,171,137,154
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),Data Scientist,NA,171,137,154
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,Data Scientist,NA,171,137,154

***
##### Handling the Rating Col.

In [174]:
cleaned_data['Rating'].unique()

array([ 3.1,  4.2,  3.8,  3.5,  2.9,  3.9,  4.4,  3.6,  4.5,  4.7,  3.7,
        3.4,  4.1,  3.2,  4.3,  2.8,  5. ,  4.8,  3.3,  2.7,  2.2,  2.6,
        4. ,  2.5,  4.9,  2.4, -1. ,  2.3,  4.6,  3. ,  2.1,  2. ])

* -1 rating means we have a missing value, we'll replace it by 0, the min of rating a company can get.

In [175]:

cleaned_data['Rating'] = cleaned_data['Rating'].replace(-1, 0)
cleaned_data['Rating'].unique()

array([3.1, 4.2, 3.8, 3.5, 2.9, 3.9, 4.4, 3.6, 4.5, 4.7, 3.7, 3.4, 4.1,
       3.2, 4.3, 2.8, 5. , 4.8, 3.3, 2.7, 2.2, 2.6, 4. , 2.5, 4.9, 2.4,
       0. , 2.3, 4.6, 3. , 2.1, 2. ])

***
##### Handling the Company Name Col.

In [176]:
cleaned_data['Company Name'].unique()

array(['Healthfirst\n3.1', 'ManTech\n4.2', 'Analysis Group\n3.8',
       'INFICON\n3.5', 'Affinity Solutions\n2.9', 'HG Insights\n4.2',
       'Novartis\n3.9', 'iRobot\n3.5', 'Intuit - Data\n4.4',
       'XSELL Technologies\n3.6', 'Novetta\n4.5', '1904labs\n4.7',
       'PNNL\n3.7', 'Old World Industries\n3.1',
       'Mathematica Policy Research\n3.4',
       'Guzman & Griffin Technologies (GGTI)\n4.4',
       'Upside Business Travel\n4.1', 'Buckman\n3.5',
       'Insight Enterprises, Inc.\n4.2', 'Tower Health\n3.5',
       'Triplebyte\n3.2', 'PulsePoint\n4.3', 'Exponent\n3.5',
       'Guardian Life\n3.5',
       'Spectrum Communications and Consulting\n3.4',
       'Oversight Systems\n4.7', 'LSQ\n4.2',
       'MIT Lincoln Laboratory\n3.8', 'Kingfisher Systems\n4.5',
       'Formation\n2.8', 'Cohere Health\n5.0', 'Acuity Insurance\n4.8',
       'Chef\n3.6', 'Puget Sound Energy\n3.3', 'Sandhills Global\n2.7',
       'A Place for Mom\n2.7', 'Great-Circle Technologies\n2.2',
       'Edmunds.com\n3.4', 'Cambridge Associates, LLC\n3.1',
       'Liberty Mutual Insurance\n3.4', 'Cenlar\n2.6',
       'Arsenal Biosciences\n5.0', 'Eversight\n4.2', 'Pfizer\n4.1',
       'Klaviyo\n4.8', 'Intellectual Ventures\n3.3', 'GovTech\n3.7',
       'Quick Base\n4.3', 'Giving Assistant\n4.8', 'Takeda\n3.7',
       'Netskope\n4.0', 'IT Concepts\n4.8', 'iSeatz\n3.5',
       'Summa Health System\n3.7', 'Benson Hill\n3.5', 'Twitter\n4.1',
       'Postmates - Corporate HQ\n3.2', 'Envision LLC\n4.5',
       'Swiss Re\n3.8', 'Systems & Technology Research\n4.5',
       'Dermalogica\n3.8', 'Bayview Asset Management\n3.7',
       'Via Transportation\n3.7', 'Grid Dynamics\n4.0',
       'Tempus Labs\n3.3', 'CareDx\n2.5', 'IZEA\n4.2', 'Autodesk\n4.0',
       'Caterpillar\n3.7', 'New England Biolabs\n4.9',
       'Allied Solutions\n3.4', 'The Knot Worldwide\n3.5',
       'IFG Companies\n2.9', 'Amyris\n3.3', 'AstraZeneca\n4.0',
       'Powertek\n3.6', 'Object Partners\n4.7', 'The Mom Project\n4.9',
       'Lightspeed Systems\n4.3', 'Stripe\n4.0',
       'Comprehensive Healthcare\n2.6',
       'Fullpower Technologies, Inc.\n4.5', 'Mars\n3.9',
       'NuWave Solutions\n4.4', 'Merrick Bank\n3.6', 'QOMPLX\n3.5',
       'GutCheck\n3.8', 'Inter-American Development Bank\n3.5',
       'Avlino\n4.9', 'Stratagem Group\n4.4', 'Evidation\n4.1',
       'Tecolote Research\n3.8', 'Tivity Health\n3.2', 'hc1\n2.9',
       'HP Inc.\n4.1', 'SAIC\n3.7', 'AllianceBernstein\n3.2',
       'Big Huge Games\n4.9', 'Maxar Technologies\n3.5',
       'Phantom AI\n5.0', 'Noblis\n4.0', 'Spring Health\n3.6',
       'ClearEdge\n4.0', 'GetWellNetwork\n4.8', 'TACG Solutions\n4.5',
       'Scoop\n4.7', 'Montway Inc\n3.4', 'Juniper Networks\n3.8',
       'Notion Labs\n5.0', 'Lendio\n4.9', 'Direct Agents\n4.4',
       'NAVEX Global\n3.3', 'Upstart\n4.2', 'AppLovin\n4.8',
       'ISO New England\n3.8', 'Relativity\n3.7', 'Tempo Automation\n3.3',
       'MITRE\n3.3', 'Expedition Technology, Inc.\n5.0', 'Evidera\n3.8',
       'Plymouth Rock Assurance\n3.4', 'Crown Bioscience\n2.4',
       'GNS Healthcare\n2.9', 'OneMagnify\n4.4', 'SPECTRUM\n2.9',
       'Advanced BioScience Laboratories\n2.7',
       'Procore Technologies\n4.2', 'Ritedose\n3.5',
       'Covid-19 Search Partners', 'bioMérieux\n4.2',
       'Radical Convergence', 'Leidos\n3.5', 'Demandbase\n4.5',
       'Shelter Insurance\n4.1', 'USAC\n2.7',
       'General Dynamics Information Technology\n3.4', 'Offerpad\n4.4',
       'Magna International Inc.\n3.5', 'United BioSource\n2.3',
       'Kelly\n3.4', 'C3.ai\n4.7', 'Quartet Health\n3.9',
       'Midland Credit Management\n3.3',
       'Resurgent Capital Services\n4.4', 'webfx.com\n4.7',
       'Argo Group US\n3.5', 'BWX Technologies\n3.3', 'Life360\n3.9',
       'MassMutual\n3.7', 'Natera\n3.9', 'Genentech\n4.0', 'Ntrepid\n4.2',
       'Constant Contact\n3.6', 'Sage Intacct\n4.7',
       'Shape Security\n4.1', 'SkillSoniq\n5.0', 'Joby Aviation\n4.3',
       "Cook Children's Health Care System\n3.8",
       'Rubius Therapeutics\n3.8', 'GreatAmerica Financial Services\n4.6',
       'Coverent\n4.1', 'Mteq\n3.7', 'Rocket Lawyer\n4.4',
       'Alion Science & Technology\n3.6', 'Protolabs\n3.7',
       'Quest Integrity\n2.9', 'Phoenix Operations Group\n5.0',
       'Dice.com\n3.4', 'Southwest Research Institute\n3.9',
       'The Buffalo Group\n4.3',
       'Central California Alliance for Health\n3.5',
       'Security Finance Corporation of Spartanburg\n3.1',
       'Opendoor\n3.6', 'Global Data Management Inc\n4.5',
       'Photon Infotech\n3.0', 'REE\n5.0',
       'Riverside Research Institute\n3.6', 'T. Rowe Price\n3.6',
       'Encode, Inc.', 'Brighthouse Financial\n3.8',
       'II-VI Incorporated\n3.3', 'Surya Systems\n4.6', 'PayPal\n3.8',
       'Predictive Research Inc\n3.9', '1010data\n3.1', 'Gigya\n3.6',
       'Genesis Research\n5.0', 'Sanofi\n3.7', 'XPO Logistics\n3.7',
       'Trace Data\n3.9', 'Descript\n4.3',
       'Rincon Research Corporation\n4.2', 'Better Hire\n4.0',
       'Parker Hannifin\n3.3', 'Gallup\n4.1', 'Insider Inc\n3.3',
       'Rapid Value Solutions\n3.9', 'Battelle\n3.1',
       'The Drive Media, Inc.\n5.0',
       'Pacific Northwest National Laboratory\n3.7',
       'US Pharmacopeia\n3.2', 'Itlize Global\n4.6', 'eBay\n3.5',
       'Paige\n5.0', 'ABIOMED\n4.1', 'Comcast\n3.5',
       'Metronome, LLC\n3.2', 'Lawrence Livermore National Lab\n4.7',
       'FHLBank Pittsburgh\n3.8', 'Jacobs\n3.6',
       'Underwriters Laboratories\n3.3', 'Altus Group\n3.7', 'Jobot\n5.0',
       'Trovetechs Inc', 'Oshkosh Corporation\n4.2', 'Mackin\n3.4',
       'PETADATA', 'VBeyond Corporation\n4.4', 'Take-Two\n3.7',
       'Colony Brands\n3.7', 'Capio Group\n4.1', 'SleePare\n3.4',
       'ShorePoint\n4.5', 'Dolphin\n3.5', 'TE Connectivity\n3.6',
       'State of Virginia\n3.2', 'TA Digital\n3.7',
       'Market America Inc\n4.0', 'TrueAccord\n3.4',
       'ALTA IT Services\n3.9', 'Kollasoft Inc.\n3.2',
       'ASRC Federal Holding Company\n3.4', 'Adwait Algorithm\n4.4',
       'Cambridge FX\n3.5', 'Metromile\n3.8', 'Criteo\n3.9',
       'Advance Sourcing Concepts\n3.4', 'Enterprise Solutions Inc\n3.8',
       'Microagility', 'Conch Technologies, Inc\n4.6', 'GSK\n3.9',
       'Rainmaker Resources, LLC', '22nd Century Technologies\n3.7',
       'Huxley\n3.3', 'FM Systems\n3.4', 'B4Corp',
       'Blue Cross and Blue Shield of North Carolina\n3.7',
       'Jane Street\n4.8', 'SSATI\n5.0',
       'Solving IT International Inc\n3.4',
       'The Davey Tree Expert Company\n3.3', 'Centauri\n4.6',
       'Stride Search', 'Software Engineering Institute\n2.6',
       'TechProjects\n4.8', '7Park Data\n3.9',
       'Ameritas Life Insurance Corp\n3.0', 'Western Digital\n3.5',
       'Shimento, Inc.\n2.9', 'Averity\n5.0', 'Praxis Engineering\n4.7',
       'Point72 Ventures',
       'Johns Hopkins University Applied Physics Laboratory\n4.5',
       'Cambridge Mobile Telematics\n4.9', 'Blend360\n4.6',
       'Nolij Consulting\n3.9', 'Hatch Data Inc',
       'Compass Consulting Group\n4.7', 'SolutionIT, Inc.\n4.4',
       'Perspecta\n3.2', 'Smith Hanley Associates\n4.5',
       'Allen Institute\n3.5', 'Eliassen Group\n4.4',
       'Bayside Solutions\n3.1', 'Evolve Vacation Rental\n3.5',
       'AgreeYa Solutions\n3.8', 'Carolina Power & Light Co\n3.7',
       'New Iron Group, Inc.\n5.0', 'Travelers\n4.0', 'Twitch\n3.6',
       'Biogen\n3.6', 'HireAi', 'Mentor Graphics\n4.1',
       'WCG (WIRB-Copernicus Group)\n3.6',
       'Visionary Integration Professionals\n4.3', 'Dynetics\n4.0',
       'Navy Federal Credit Union\n3.9',
       'Exact Sciences Corporation\n4.0',
       'Community Behavioral Health\n3.6', 'Reynolds American\n3.3',
       'LifeOmic\n5.0', 'Visionist, Inc.\n4.9', 'Navio',
       'Concerto HealthAI\n3.3', 'Evolvinc', 'PROPRIUS\n5.0',
       'TECHNOCRAFT Solutions\n3.4', 'Latitude, Inc.\n4.1',
       'Royce Geospatial\n5.0', 'CyberCoders\n4.2',
       'Booz Allen Hamilton Inc.\n3.7', 'Burns & McDonnell\n3.8',
       'InvenTech Info\n4.8', 'Robert Half\n3.5',
       'Conflux Systems Inc.\n4.5', 'Voice\n3.4',
       'Falcon IT & Staffing Solutions', 'DataLab USA\n3.6',
       'Werner Enterprises Inc\n3.1', 'PeopleCom\n5.0',
       'VANTA Partners\n5.0', 'Blue Icy Water, LLC',
       "Farmer's Business Network, Inc.\n3.5", 'Sonde Health',
       'Maxiom\n5.0', 'Change Healthcare\n2.7', 'DCS Corp\n4.1',
       'Hive (CA)\n2.1', 'Hackensack Meridian Health\n3.3',
       'Net2Source Inc.\n3.2', 'The Trade Desk\n3.2', 'IBM\n3.7',
       'Knowesis Inc.\n4.4', 'MoTek Technologies\n3.1', 'HPOne\n3.5',
       'Blue Cloak LLC', 'TBWA\\Chiat\\Day\n2.7',
       'ThreeBridge Solutions\n3.5', 'Numeric, LLC\n3.2',
       'Centraprise\n4.2', 'DW Simpson\n4.2', 'LinQuest\n3.9',
       'Trexquant Investment\n4.0', 'Fleetcor\n3.7',
       'Radiant Digital\n4.5', 'Child Care Aware of America\n2.8',
       'IntelliPro Group Inc.\n4.1', 'USI\n3.4', 'Apex Systems\n3.9',
       'Pragmatics, Inc.\n2.9', 'Crossover Health\n3.5',
       'Lorven Technologies Inc\n4.0', 'Gap Inc.\n3.5',
       'Tygart Technology, Inc\n4.7', 'Murray Resources\n4.6',
       'New York Technology Partners\n4.0',
       'Two95 International Inc.\n4.0', 'Sophinea', 'CRS Group\n4.7',
       'Blackstone Talent Group\n3.5', 'Roche\n4.1',
       'Creative Circle\n3.6', 'Blue Horizon Tek Solutions\n5.0',
       'Sharpedge Solutions Inc\n4.7',
       'Alaka`ina Foundation Family of Companies\n3.6',
       'Hexagon US Federal\n2.7', 'Monte Rosa Therapeutics',
       'Comtech Global Inc\n4.0', 'Aveshka, Inc.\n3.8',
       '10x Genomics\n4.2', 'CompuForce', '1-800-Flowers\n2.7',
       'Aptive\n3.5', 'JCD Staffing\n5.0', 'Thumbtack\n3.9',
       'MILVETS Systems Technology, Inc.\n3.4', 'Apple\n4.1',
       'Kforce\n4.1', 'OppLoans\n4.4', 'Brillient\n3.9',
       'Xator Corporation\n2.9', 'HAN IT Staffing Inc.\n4.6',
       'Infinitive Inc\n3.4', 'New Relic\n4.7', 'ICW Group\n3.3',
       'NYSTEC\n3.8', 'E3 Federal Solutions\n4.5', 'Peraton\n3.4',
       'Group O\n3.1', 'CaptiveAire\n4.1', 'Temboo\n3.9', 'Kibo',
       'AeroVironment\n4.2', 'Applied Research Laboratories\n3.8',
       'Conagen\n2.0', 'Alector\n4.8', 'Homology Medicines, Inc.\n4.4',
       'Inland Empire Health Plan\n3.3',
       'Sandia National Laboratories\n3.8', 'CIA\n3.8',
       'Maven Wave Partners\n4.5', 'Ovative Group\n4.3', 'Kognetics\n3.6',
       'Envision Healthcare\n2.9', 'ConsumerTrack\n3.2',
       'Meridian Knowledge Solutions\n4.4', 'UST Global\n4.2',
       'IMG Systems\n3.2', 'Trident Systems Inc\n3.4', 'GrainBridge, LLC',
       'First Health Group\n3.2', 'Sprezzatura Management Consulting',
       'Progress Rail, A Caterpillar Company\n2.8',
       'Axiologic Solutions\n4.5', 'Indigo Slate\n3.0', 'Cubic\n3.3',
       'Advanced Bio-Logic Solutions Corp\n4.0',
       'Alignment Healthcare\n3.5', 'WGSN\n3.5',
       'ISYS Technologies, Inc.\n3.6', 'TransVoyant\n3.0', 'Geotab\n4.3',
       'EGlobalTech\n3.7', 'Central Business Solutions, Inc\n3.0',
       'KeHE Distributors\n2.5', 'Moxie Software\n3.0',
       'Unicom Technologies INC\n4.7', 'Americo Life\n3.3',
       'Tokio Marine HCC\n3.3', 'CACI International\n3.5',
       'Berico Technologies', 'Kehe Food Distributors', 'Pactera Edge',
       'Qurate Retail Group\n3.6', 'A-Line Staffing Solutions\n4.1',
       'Clear Ridge Defense', 'Criterion Systems, Inc.\n3.8',
       'Foundation Medicine\n4.0', 'TRANZACT\n3.6', 'JKGT', 'AccessHope',
       'ChaTeck Incorporated\n5.0'], dtype=object)

* Compnay Name contains unnecessary element e.g. "\n4.3"

In [177]:
# retreiving only the company name
cleaned_data['Company Name'] = cleaned_data['Company Name'].apply(lambda compnay_name : compnay_name.split('\n')[0])

In [178]:
cleaned_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Job_Title_Simplified,Job_Seniority,Max_Salary_Estimate,Min_Salary_Estimate,Avg_Salary_Estimate
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,Data Scientist,Senior,171,137,154
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),Data Scientist,NA,171,137,154
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),Data Scientist,NA,171,137,154
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),Data Scientist,NA,171,137,154
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,Data Scientist,NA,171,137,154

***
##### Handling the Location Col.

In [179]:
cleaned_data['Location'].value_counts()

Location
San Francisco, CA    69
New York, NY         50
Washington, DC       26
Boston, MA           24
Chicago, IL          22
                     ..
Oshkosh, WI           1
Culver City, CA       1
Lake Oswego, OR       1
New Orleans, LA       1
Irwindale, CA         1
Name: count, Length: 207, dtype: int64

In [180]:
cleaned_data['Location'].unique()

array(['New York, NY', 'Chantilly, VA', 'Boston, MA', 'Newton, MA',
       'Santa Barbara, CA', 'Cambridge, MA', 'Bedford, MA',
       'San Diego, CA', 'Chicago, IL', 'Herndon, VA', 'Saint Louis, MO',
       'Richland, WA', 'Northbrook, IL', 'Washington, DC', 'Remote',
       'Memphis, TN', 'Plano, TX', 'West Grove, PA', 'Phoenix, AZ',
       'Appleton, WI', 'Atlanta, GA', 'Orlando, FL', 'Lexington, MA',
       'McLean, VA', 'San Francisco, CA', 'Sheboygan, WI',
       'United States', 'Bothell, WA', 'Lincoln, NE', 'Overland Park, KS',
       'Santa Monica, CA', 'Portsmouth, NH', 'Ewing, NJ',
       'South San Francisco, CA', 'Palo Alto, CA', 'Bellevue, WA',
       'New Orleans, LA', 'Akron, OH', 'Fort Wayne, IN', 'Woburn, MA',
       'Carson, CA', 'Coral Gables, FL', 'Santa Clara, CA',
       'Brisbane, CA', 'Winter Park, FL', 'Redwood City, CA',
       'Peoria, IL', 'Ipswich, MA', 'Carmel, IN', 'Emeryville, CA',
       'Gaithersburg, MD', 'Longmont, CO', 'Austin, TX', 'Yakima, WA',
       'Santa Cruz, CA', 'Springfield, VA', 'Alexandria, VA', 'Utah',
       'Reston, VA', 'Denver, CO', 'New Jersey', 'Aurora, CO',
       'Hill AFB, UT', 'Chandler, AZ', 'Indianapolis, IN',
       'Nashville, TN', 'Timonium, MD', 'Burlingame, CA',
       'Annapolis Junction, MD', 'Bethesda, MD', 'Dayton, OH',
       'Schaumburg, IL', 'Cupertino, CA', 'Lehi, UT', 'Culver City, CA',
       'Lake Oswego, OR', 'San Mateo, CA', 'Holyoke, MA',
       'Woodbridge, NJ', 'Dearborn, MI', 'Maryland Heights, MO',
       'Rockville, MD', 'Carpinteria, CA', 'Columbia, SC',
       'Hauppauge, NY', 'Fort Meade, MD', 'Columbia, MO', 'Vicksburg, MS',
       'Birmingham, AL', 'Blue Bell, PA', 'Cincinnati, OH',
       'Harrisburg, PA', 'Oak Ridge, TN', 'San Carlos, CA', 'Waltham, MA',
       'Fort Worth, TX', 'Smithfield, RI', 'Cedar Rapids, IA',
       'Fort Belvoir, VA', 'Linthicum Heights, MD', 'Maple Plain, MN',
       'Tulsa, OK', 'Baltimore, MD', 'Oklahoma City, OK',
       'Scotts Valley, CA', 'Spartanburg, SC', 'Hartford, CT',
       'Beavercreek, OH', 'Norfolk, VA', 'Charlotte, NC', 'Champaign, IL',
       'Texas', 'Hoboken, NJ', 'Lebanon, IN', 'Oakland, CA',
       'Melbourne, FL', 'Cleveland, OH', 'Norwell, MA', 'San Jose, CA',
       'Piscataway, NJ', 'Danvers, MA', 'Vienna, VA', 'Livermore, CA',
       'Pittsburgh, PA', 'Irvine, CA', 'Oshkosh, WI', 'Menlo Park, CA',
       'Dallas, TX', 'Arlington, VA', 'Monroe, WI', 'Sacramento, CA',
       'Hampton, VA', 'Richmond, VA', 'Monterey, CA', 'Woodlawn, MD',
       'Ann Arbor, MI', 'Concord, CA', 'Durham, NC', 'Kent, OH',
       'Laurel, MD', 'Columbia, MD', 'Falls Church, VA',
       'Thousand Oaks, CA', 'Edison, NJ', 'Adelphi, MD', 'Seattle, WA',
       'Sunnyvale, CA', 'Fremont, CA', 'Hamilton, NJ', 'Huntsville, AL',
       'Merrifield, VA', 'Madison, WI', 'Philadelphia, PA',
       'Winston-Salem, NC', 'Raleigh, NC', 'Burbank, CA', 'San Ramon, CA',
       'Oxnard, CA', 'Kansas City, MO', 'Jersey City, NJ',
       'Manchester, NH', 'Winters, TX', 'Brooklyn, NY', 'Germantown, MD',
       'Omaha, NE', 'Open Fork, VA', 'Ashburn, VA', 'Lombard, IL',
       'Alpharetta, GA', 'Boulder, CO', 'Mountain View, CA',
       'Trumbull, CT', 'Sterling, VA', 'Foster City, CA', 'Frederick, MD',
       'Colorado Springs, CO', 'Southfield, MI', 'San Clemente, CA',
       'The Woodlands, TX', 'Pleasanton, CA', 'Wilmington, DE',
       'Fort Sam Houston, TX', 'Lexington Park, MD',
       'Patuxent, Anne Arundel, MD', 'Fairfax, VA', 'San Antonio, TX',
       'Silver Spring, MD', 'Portland, OR', 'Simi Valley, CA',
       'New Bedford, MA', 'Rancho Cucamonga, CA', 'Collegeville, PA',
       'Minneapolis, MN', 'Gahanna, OH', 'California', 'Wellesley, MA',
       'Washington, VA', 'Orange, CA', 'Bridgeport, WV', 'Oakville, CA',
       'Naperville, IL', 'Houston, TX', 'Redmond, WA', 'West Chester, PA',
       'Quantico, VA', 'Fort Lee, NJ', 'Irwindale, CA'], dtype=object)

* We notice that the state of the location is at the end of each location

In [183]:
cleaned_data['Location_State'] = cleaned_data['Location'].apply(lambda item : item.split(',')[-1])

In [184]:
cleaned_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Job_Title_Simplified,Job_Seniority,Max_Salary_Estimate,Min_Salary_Estimate,Avg_Salary_Estimate,Location_State
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,Data Scientist,Senior,171,137,154,NY
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),Data Scientist,NA,171,137,154,VA
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),Data Scientist,NA,171,137,154,MA
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),Data Scientist,NA,171,137,154,MA
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,Data Scientist,NA,171,137,154,NY

***
##### Handling the Headquarters Col.

In [185]:
cleaned_data['Headquarters'].value_counts()

Headquarters
New York, NY         33
-1                   31
San Francisco, CA    31
Chicago, IL          23
Boston, MA           19
                     ..
Irving, TX            1
Scottsdale, AZ        1
Greensboro, NC        1
Newark, CA            1
Fort Lee, NJ          1
Name: count, Length: 229, dtype: int64

* -1 means missing Headquarter location, we'll replace it by Unknown.

In [189]:
cleaned_data['Headquarters'] = cleaned_data['Headquarters'].replace('-1', 'Unkown')
cleaned_data['Headquarters'].value_counts()

Headquarters
New York, NY         33
Unkown               31
San Francisco, CA    31
Chicago, IL          23
Boston, MA           19
                     ..
Irving, TX            1
Scottsdale, AZ        1
Greensboro, NC        1
Newark, CA            1
Fort Lee, NJ          1
Name: count, Length: 229, dtype: int64

In [190]:
cleaned_data['Headquarters'].unique()

array(['New York, NY', 'Herndon, VA', 'Boston, MA',
       'Bad Ragaz, Switzerland', 'Santa Barbara, CA',
       'Basel, Switzerland', 'Bedford, MA', 'Mountain View, CA',
       'Chicago, IL', 'Mc Lean, VA', 'Saint Louis, MO', 'Richland, WA',
       'Northbrook, IL', 'Princeton, NJ', 'Mays Landing, NJ',
       'Washington, DC', 'Memphis, TN', 'Tempe, AZ', 'Reading, PA',
       'San Francisco, CA', 'Menlo Park, CA', 'Atlanta, GA',
       'Orlando, FL', 'Lexington, MA', 'Falls Church, VA',
       'Sheboygan, WI', 'Seattle, WA', 'Bellevue, WA', 'Lincoln, NE',
       'Chantilly, VA', 'Santa Monica, CA', 'Ewing, NJ',
       'South San Francisco, CA', 'Palo Alto, CA', 'Singapore, Singapore',
       'Cambridge, MA', 'OSAKA, Japan', 'Santa Clara, CA', 'Vienna, VA',
       'New Orleans, LA', 'Akron, OH', 'Zurich, Switzerland',
       'Woburn, MA', 'Carson, CA', 'Coral Gables, FL', 'San Ramon, CA',
       'Brisbane, CA', 'Winter Park, FL', 'San Rafael, CA',
       'Deerfield, IL', 'Ipswich, MA', 'Carmel, IN', 'Chevy Chase, MD',
       'Hartford, CT', 'Emeryville, CA', 'Cambridge, United Kingdom',
       'Rockville, MD', 'Minneapolis, MN', 'Austin, TX', 'Yakima, WA',
       'Santa Cruz, CA', 'South Jordan, UT', 'Reston, VA', 'Denver, CO',
       'Holmdel, NJ', 'Aurora, CO', 'San Mateo, CA', 'Goleta, CA',
       'Franklin, TN', 'Indianapolis, IN', 'Lutherville Timonium, MD',
       'Westminster, CO', 'Burlingame, CA', 'Annapolis Junction, MD',
       'Bethesda, MD', 'Beavercreek, OH', 'Schaumburg, IL',
       'Sunnyvale, CA', 'Lehi, UT', 'Lake Oswego, OR', 'Holyoke, MA',
       'Dulles, VA', 'San Diego, CA', 'Detroit, MI', 'Stamford, CT',
       'Carpinteria, CA', 'Columbia, SC', 'Unkown',
       "Marcy-l'Etoile, France", 'Columbia, MO', 'Fairfax, VA',
       'Chandler, AZ', 'Aurora, Canada', 'Blue Bell, PA', 'Troy, MI',
       'Redwood City, CA', 'Greenville, SC', 'Arlington, VA',
       'Harrisburg, PA', 'Hamilton, Bermuda', 'Lynchburg, VA',
       'Springfield, MA', 'San Carlos, CA', 'Waltham, MA', 'San Jose, CA',
       'Jersey City, NJ', 'Fort Worth, TX', 'Cedar Rapids, IA',
       'McLean, VA', 'Lorton, VA', 'Maple Plain, MN', 'Kent, WA',
       'Woodbine, MD', 'San Antonio, TX', 'Scotts Valley, CA',
       'Spartanburg, SC', 'Woodbridge, NJ', 'Chennai, India',
       'Tel Aviv-Yafo, Israel', 'Baltimore, MD', 'Manalapan, NJ',
       'Charlotte, NC', 'Saxonburg, PA', 'Bristol, PA',
       'Bangalore, India', 'Hoboken, NJ', 'Paris, France',
       'Greenwich, CT', 'Santa Ana, CA', 'Houston, TX', 'Tucson, AZ',
       'Birmingham, AL', 'Cleveland, OH', 'Pleasanton, CA',
       'Columbus, OH', 'Piscataway, NJ', 'Danvers, MA',
       'Philadelphia, PA', 'Livermore, CA', 'Pittsburgh, PA',
       'Dallas, TX', 'Toronto, Canada', 'Irvine, CA', 'Hillsborough, NJ',
       'Oshkosh, WI', 'Fremont, CA', 'Monroe, WI', 'Goteborg, Sweden',
       'Lake Buena Vista, FL', 'Schaffhausen, Switzerland',
       'Richmond, VA', 'Newark, CA', 'Greensboro, NC', 'Scottsdale, AZ',
       'Irving, TX', 'Beltsville, MD', 'Naperville, IL',
       'Brentford, United Kingdom', 'Cincinnati, OH', 'Somerset, NJ',
       'London, United Kingdom', 'Raleigh, NC', 'Leesburg, VA',
       'Durham, NC', 'Kent, OH', 'Westlake Village, CA',
       'North Brunswick, NJ', 'Benicia, CA', 'Laurel, MD', 'Columbia, MD',
       'Danville, CA', 'Wilmington, MA', 'New York, 061', 'Reading, MA',
       'Folsom, CA', 'Wilsonville, OR', 'Huntsville, AL', 'Madison, WI',
       'Phila, PA', 'Winston-Salem, NC', 'Half Moon Bay, CA',
       'Los Angeles, CA', 'Hilliard, OH', 'Hanover, MD',
       'Kansas City, MO', 'Bengaluru, India', 'Alpharetta, GA',
       'Germantown, MD', 'Omaha, NE', 'Clifton Park, NY', 'Livonia, MI',
       'Ashburn, VA', 'Nashville, TN', 'Alexandria, VA', 'Edison, NJ',
       'Ventura, CA', 'Armonk, NY', 'Trumbull, CT', 'Chadds Ford, PA',
       'Saint Paul, MN', 'Glen Allen, VA', 'Aliso Viejo, CA',
       'Plainsboro, NJ', 'Fairmont, WV', 'Cherry Hill, NJ', 'Itasca, IL',
       'Coconut Creek, FL', 'Lombard, IL', 'Honolulu, HI',
       'Carle Place, NY', 'Cupertino, CA', 'Tampa, FL', 'Totowa, NJ',
       'Rome, NY', 'Milan, IL', 'Marbella, Spain', 'Simi Valley, CA',
       'Rancho Cucamonga, CA', 'Albuquerque, NM', 'Langley, VA',
       'Plano, TX', 'Albertville, AL', 'Orange, CA', 'Littleton, CO',
       'Oakville, Canada', 'San Bruno, CA', 'West Chester, PA',
       'Utica, MI', 'Fort Lee, NJ'], dtype=object)

* We noticed that we have cities and their states, plus there are some cities and their countries => we will only extract the cities.

In [191]:
cleaned_data['Headquarters_City'] = cleaned_data['Headquarters'].apply(lambda city : city.split(',')[0] )

In [192]:
cleaned_data['Headquarters_City'].unique()

array(['New York', 'Herndon', 'Boston', 'Bad Ragaz', 'Santa Barbara',
       'Basel', 'Bedford', 'Mountain View', 'Chicago', 'Mc Lean',
       'Saint Louis', 'Richland', 'Northbrook', 'Princeton',
       'Mays Landing', 'Washington', 'Memphis', 'Tempe', 'Reading',
       'San Francisco', 'Menlo Park', 'Atlanta', 'Orlando', 'Lexington',
       'Falls Church', 'Sheboygan', 'Seattle', 'Bellevue', 'Lincoln',
       'Chantilly', 'Santa Monica', 'Ewing', 'South San Francisco',
       'Palo Alto', 'Singapore', 'Cambridge', 'OSAKA', 'Santa Clara',
       'Vienna', 'New Orleans', 'Akron', 'Zurich', 'Woburn', 'Carson',
       'Coral Gables', 'San Ramon', 'Brisbane', 'Winter Park',
       'San Rafael', 'Deerfield', 'Ipswich', 'Carmel', 'Chevy Chase',
       'Hartford', 'Emeryville', 'Rockville', 'Minneapolis', 'Austin',
       'Yakima', 'Santa Cruz', 'South Jordan', 'Reston', 'Denver',
       'Holmdel', 'Aurora', 'San Mateo', 'Goleta', 'Franklin',
       'Indianapolis', 'Lutherville Timonium', 'Westminster',
       'Burlingame', 'Annapolis Junction', 'Bethesda', 'Beavercreek',
       'Schaumburg', 'Sunnyvale', 'Lehi', 'Lake Oswego', 'Holyoke',
       'Dulles', 'San Diego', 'Detroit', 'Stamford', 'Carpinteria',
       'Columbia', 'Unkown', "Marcy-l'Etoile", 'Fairfax', 'Chandler',
       'Blue Bell', 'Troy', 'Redwood City', 'Greenville', 'Arlington',
       'Harrisburg', 'Hamilton', 'Lynchburg', 'Springfield', 'San Carlos',
       'Waltham', 'San Jose', 'Jersey City', 'Fort Worth', 'Cedar Rapids',
       'McLean', 'Lorton', 'Maple Plain', 'Kent', 'Woodbine',
       'San Antonio', 'Scotts Valley', 'Spartanburg', 'Woodbridge',
       'Chennai', 'Tel Aviv-Yafo', 'Baltimore', 'Manalapan', 'Charlotte',
       'Saxonburg', 'Bristol', 'Bangalore', 'Hoboken', 'Paris',
       'Greenwich', 'Santa Ana', 'Houston', 'Tucson', 'Birmingham',
       'Cleveland', 'Pleasanton', 'Columbus', 'Piscataway', 'Danvers',
       'Philadelphia', 'Livermore', 'Pittsburgh', 'Dallas', 'Toronto',
       'Irvine', 'Hillsborough', 'Oshkosh', 'Fremont', 'Monroe',
       'Goteborg', 'Lake Buena Vista', 'Schaffhausen', 'Richmond',
       'Newark', 'Greensboro', 'Scottsdale', 'Irving', 'Beltsville',
       'Naperville', 'Brentford', 'Cincinnati', 'Somerset', 'London',
       'Raleigh', 'Leesburg', 'Durham', 'Westlake Village',
       'North Brunswick', 'Benicia', 'Laurel', 'Danville', 'Wilmington',
       'Folsom', 'Wilsonville', 'Huntsville', 'Madison', 'Phila',
       'Winston-Salem', 'Half Moon Bay', 'Los Angeles', 'Hilliard',
       'Hanover', 'Kansas City', 'Bengaluru', 'Alpharetta', 'Germantown',
       'Omaha', 'Clifton Park', 'Livonia', 'Ashburn', 'Nashville',
       'Alexandria', 'Edison', 'Ventura', 'Armonk', 'Trumbull',
       'Chadds Ford', 'Saint Paul', 'Glen Allen', 'Aliso Viejo',
       'Plainsboro', 'Fairmont', 'Cherry Hill', 'Itasca', 'Coconut Creek',
       'Lombard', 'Honolulu', 'Carle Place', 'Cupertino', 'Tampa',
       'Totowa', 'Rome', 'Milan', 'Marbella', 'Simi Valley',
       'Rancho Cucamonga', 'Albuquerque', 'Langley', 'Plano',
       'Albertville', 'Orange', 'Littleton', 'Oakville', 'San Bruno',
       'West Chester', 'Utica', 'Fort Lee'], dtype=object)

In [193]:
cleaned_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Job_Title_Simplified,Job_Seniority,Max_Salary_Estimate,Min_Salary_Estimate,Avg_Salary_Estimate,Location_State,Headquarters_City
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,Data Scientist,Senior,171,137,154,NY,New York
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),Data Scientist,NA,171,137,154,VA,Herndon
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),Data Scientist,NA,171,137,154,MA,Boston
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),Data Scientist,NA,171,137,154,MA,Bad Ragaz
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,Data Scientist,NA,171,137,154,NY,New York

***
##### Handling the Size Col.

In [194]:
cleaned_data['Size'].value_counts()

Size
51 to 200 employees        135
1001 to 5000 employees     104
1 to 50 employees           86
201 to 500 employees        85
10000+ employees            80
501 to 1000 employees       77
5001 to 10000 employees     61
-1                          27
Unknown                     17
Name: count, dtype: int64

* We will classify the size into four categories:
    * -1 and unknown => unknown
    * size <= 250 => Small
    * 250 < size <= 500 => Medium
    * size > 500  => Large

In [195]:
def size_classifier(num_employees):
    if num_employees == '-1' or num_employees == 'Unknown':
        return 'Unknown'
    if "+" in num_employees:
        num_employees = int(num_employees.split("+")[0])
    else:
        num_employees = int(num_employees.split()[2])
    if num_employees <= 250:
        return 'Small'
    elif num_employees <= 500:
        return 'Medium'
    else:
        return 'Large'

In [196]:
cleaned_data['Size_Classified'] = cleaned_data['Size'].apply(size_classifier)

In [197]:
cleaned_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Sector,Revenue,Job_Title_Simplified,Job_Seniority,Max_Salary_Estimate,Min_Salary_Estimate,Avg_Salary_Estimate,Location_State,Headquarters_City,Size_Classified
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,...,Insurance,Unknown / Non-Applicable,Data Scientist,Senior,171,137,154,NY,New York,Large
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,...,Business Services,$1 to $2 billion (USD),Data Scientist,NA,171,137,154,VA,Herndon,Large
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,...,Business Services,$100 to $500 million (USD),Data Scientist,NA,171,137,154,MA,Boston,Large
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,...,Manufacturing,$100 to $500 million (USD),Data Scientist,NA,171,137,154,MA,Bad Ragaz,Large
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,Business Services,Unknown / Non-Applicable,Data Scientist,NA,171,137,154,NY,New York,Small

***
##### Handling the Founded Col.

In [198]:
cleaned_data['Founded'].unique()

array([1993, 1968, 1981, 2000, 1998, 2010, 1996, 1990, 1983, 2014, 2012,
       2016, 1965, 1973, 1986, 1997, 2015, 1945, 1988, 2017, 2011, 1967,
       1860, 1992, 2003, 1951, 2005, 2019, 1925, 2008, 1999, 1978, 1966,
       1912, 1958, 2013, 1849, 1781, 1926, 2006, 1994, 1863, 1995,   -1,
       1982, 1974, 2001, 1985, 1913, 1971, 1911, 2009, 1959, 2007, 1939,
       2002, 1961, 1963, 1969, 1946, 1957, 1953, 1948, 1850, 1851, 2004,
       1976, 1918, 1954, 1947, 1955, 2018, 1937, 1917, 1935, 1929, 1820,
       1952, 1932, 1894, 1960, 1788, 1830, 1984, 1933, 1880, 1887, 1970,
       1942, 1980, 1989, 1908, 1853, 1875, 1914, 1898, 1956, 1977, 1987,
       1896, 1972, 1949, 1962], dtype=int64)

In [199]:
cleaned_data['Founded'].describe()

count     672.000000
mean     1635.529762
std       756.746640
min        -1.000000
25%      1917.750000
50%      1995.000000
75%      2009.000000
max      2019.000000
Name: Founded, dtype: float64

* Remark: there is a "-1" appreaing among the unique values, possibly indicating missing values.

In [200]:
# we chose to replace the Founded values of -1 with the current year i.e., 2024
cleaned_data['Founded'] = cleaned_data['Founded'].replace(-1, 2024) 
cleaned_data["Founded"].unique()

array([1993, 1968, 1981, 2000, 1998, 2010, 1996, 1990, 1983, 2014, 2012,
       2016, 1965, 1973, 1986, 1997, 2015, 1945, 1988, 2017, 2011, 1967,
       1860, 1992, 2003, 1951, 2005, 2019, 1925, 2008, 1999, 1978, 1966,
       1912, 1958, 2013, 1849, 1781, 1926, 2006, 1994, 1863, 1995, 2024,
       1982, 1974, 2001, 1985, 1913, 1971, 1911, 2009, 1959, 2007, 1939,
       2002, 1961, 1963, 1969, 1946, 1957, 1953, 1948, 1850, 1851, 2004,
       1976, 1918, 1954, 1947, 1955, 2018, 1937, 1917, 1935, 1929, 1820,
       1952, 1932, 1894, 1960, 1788, 1830, 1984, 1933, 1880, 1887, 1970,
       1942, 1980, 1989, 1908, 1853, 1875, 1914, 1898, 1956, 1977, 1987,
       1896, 1972, 1949, 1962], dtype=int64)

In [201]:
# We add a new feature that indicate years in business of a given company
cleaned_data['Years_in_Business'] = 2024 - cleaned_data['Founded']

In [202]:
cleaned_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Revenue,Job_Title_Simplified,Job_Seniority,Max_Salary_Estimate,Min_Salary_Estimate,Avg_Salary_Estimate,Location_State,Headquarters_City,Size_Classified,Years_in_Business
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,...,Unknown / Non-Applicable,Data Scientist,Senior,171,137,154,NY,New York,Large,31
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,...,$1 to $2 billion (USD),Data Scientist,NA,171,137,154,VA,Herndon,Large,56
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,...,$100 to $500 million (USD),Data Scientist,NA,171,137,154,MA,Boston,Large,43
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,...,$100 to $500 million (USD),Data Scientist,NA,171,137,154,MA,Bad Ragaz,Large,24
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,Unknown / Non-Applicable,Data Scientist,NA,171,137,154,NY,New York,Small,26

***
##### Handling the Type of ownership Col.

In [203]:
cleaned_data['Type of ownership'].value_counts()

Type of ownership
Company - Private                 397
Company - Public                  153
Nonprofit Organization             36
Subsidiary or Business Segment     28
-1                                 27
Government                         10
Other Organization                  5
Private Practice / Firm             4
Unknown                             4
College / University                3
Self-employed                       2
Contract                            2
Hospital                            1
Name: count, dtype: int64

* '-1' and 'Unknown' will be replaced by 'Other Organization'

In [208]:
cleaned_data['Type of ownership'] = cleaned_data['Type of ownership'].replace('-1','Unknown')
cleaned_data['Type of ownership'].value_counts()

Type of ownership
Company - Private                 397
Company - Public                  153
Nonprofit Organization             36
Unknown                            36
Subsidiary or Business Segment     28
Government                         10
Private Practice / Firm             4
College / University                3
Self-employed                       2
Contract                            2
Hospital                            1
Name: count, dtype: int64

***
##### Handling the Industry Col.

In [209]:
cleaned_data['Industry'].value_counts()

Industry
-1                                          71
Biotech & Pharmaceuticals                   66
IT Services                                 61
Computer Hardware & Software                57
Aerospace & Defense                         46
Enterprise Software & Network Solutions     43
Consulting                                  38
Staffing & Outsourcing                      36
Insurance Carriers                          28
Internet                                    27
Advertising & Marketing                     23
Health Care Services & Hospitals            21
Research & Development                      17
Federal Agencies                            16
Investment Banking & Asset Management       13
Banks & Credit Unions                        8
Lending                                      8
Energy                                       5
Consumer Products Manufacturing              5
Telecommunications Services                  5
Insurance Agencies & Brokerages              4
Food & Beverage Manufacturing                4
Utilities                                    3
Electrical & Electronic Manufacturing        3
Colleges & Universities                      3
Other Retail Stores                          3
Architectural & Engineering Services         3
Chemical Manufacturing                       3
Real Estate                                  3
Miscellaneous Manufacturing                  3
Accounting                                   3
Wholesale                                    3
Industrial Manufacturing                     3
Video Games                                  3
Travel Agencies                              2
Express Delivery Services                    2
Timber Operations                            2
Financial Transaction Processing             2
Construction                                 2
Health, Beauty, & Fitness                    2
Transportation Equipment Manufacturing       2
Oil & Gas Services                           2
Venture Capital & Private Equity             2
Consumer Electronics & Appliances Stores     2
Department, Clothing, & Shoe Stores          1
Publishing                                   1
Social Assistance                            1
Farm Support Services                        1
Logistics & Supply Chain                     1
Transportation Management                    1
State & Regional Agencies                    1
Hotels, Motels, & Resorts                    1
Food & Beverage Stores                       1
News Outlet                                  1
Telecommunications Manufacturing             1
Cable, Internet & Telephone Providers        1
Shipping                                     1
Rail                                         1
Name: count, dtype: int64

In [210]:
cleaned_data['Industry'].unique()

array(['Insurance Carriers', 'Research & Development', 'Consulting',
       'Electrical & Electronic Manufacturing', 'Advertising & Marketing',
       'Computer Hardware & Software', 'Biotech & Pharmaceuticals',
       'Consumer Electronics & Appliances Stores',
       'Enterprise Software & Network Solutions', 'IT Services', 'Energy',
       'Chemical Manufacturing', 'Federal Agencies', 'Internet',
       'Health Care Services & Hospitals',
       'Investment Banking & Asset Management', 'Aerospace & Defense',
       'Utilities', '-1', 'Express Delivery Services',
       'Staffing & Outsourcing', 'Insurance Agencies & Brokerages',
       'Consumer Products Manufacturing', 'Industrial Manufacturing',
       'Food & Beverage Manufacturing', 'Banks & Credit Unions',
       'Video Games', 'Shipping', 'Telecommunications Services',
       'Lending', 'Cable, Internet & Telephone Providers', 'Real Estate',
       'Venture Capital & Private Equity', 'Miscellaneous Manufacturing',
       'Oil & Gas Services', 'Transportation Equipment Manufacturing',
       'Telecommunications Manufacturing', 'Transportation Management',
       'News Outlet', 'Architectural & Engineering Services',
       'Food & Beverage Stores', 'Other Retail Stores',
       'Hotels, Motels, & Resorts', 'State & Regional Agencies',
       'Financial Transaction Processing', 'Timber Operations',
       'Colleges & Universities', 'Travel Agencies', 'Accounting',
       'Logistics & Supply Chain', 'Farm Support Services',
       'Social Assistance', 'Construction',
       'Department, Clothing, & Shoe Stores', 'Publishing',
       'Health, Beauty, & Fitness', 'Wholesale', 'Rail'], dtype=object)

In [211]:
cleaned_data['Industry'] = cleaned_data['Industry'].replace('-1', 'Unknown')
cleaned_data['Industry'].value_counts()

Industry
Unknown                                     71
Biotech & Pharmaceuticals                   66
IT Services                                 61
Computer Hardware & Software                57
Aerospace & Defense                         46
Enterprise Software & Network Solutions     43
Consulting                                  38
Staffing & Outsourcing                      36
Insurance Carriers                          28
Internet                                    27
Advertising & Marketing                     23
Health Care Services & Hospitals            21
Research & Development                      17
Federal Agencies                            16
Investment Banking & Asset Management       13
Banks & Credit Unions                        8
Lending                                      8
Energy                                       5
Consumer Products Manufacturing              5
Telecommunications Services                  5
Insurance Agencies & Brokerages              4
Food & Beverage Manufacturing                4
Utilities                                    3
Electrical & Electronic Manufacturing        3
Colleges & Universities                      3
Other Retail Stores                          3
Architectural & Engineering Services         3
Chemical Manufacturing                       3
Real Estate                                  3
Miscellaneous Manufacturing                  3
Accounting                                   3
Wholesale                                    3
Industrial Manufacturing                     3
Video Games                                  3
Travel Agencies                              2
Express Delivery Services                    2
Timber Operations                            2
Financial Transaction Processing             2
Construction                                 2
Health, Beauty, & Fitness                    2
Transportation Equipment Manufacturing       2
Oil & Gas Services                           2
Venture Capital & Private Equity             2
Consumer Electronics & Appliances Stores     2
Department, Clothing, & Shoe Stores          1
Publishing                                   1
Social Assistance                            1
Farm Support Services                        1
Logistics & Supply Chain                     1
Transportation Management                    1
State & Regional Agencies                    1
Hotels, Motels, & Resorts                    1
Food & Beverage Stores                       1
News Outlet                                  1
Telecommunications Manufacturing             1
Cable, Internet & Telephone Providers        1
Shipping                                     1
Rail                                         1
Name: count, dtype: int64

Let's group the industries into borader categories

In [212]:
# Function to categorize the industry col.
def categorize_industry(industry):
    tech = ['IT Services', 'Computer Hardware & Software', 'Internet',
            'Telecommunications Services', 'Video Games', 'Cable, Internet & Telephone Providers']
    finance_insurance = ['Insurance Carriers', 'Investment Banking & Asset Management',
                         'Insurance Agencies & Brokerages', 'Banks & Credit Unions',
                         'Financial Transaction Processing', 'Venture Capital & Private Equity',
                         'Lending', 'Accounting']
    healthcare_pharma = ['Biotech & Pharmaceuticals', 'Health Care Services & Hospitals', 'Health, Beauty, & Fitness']
    manufacturing = [ 'Electrical & Electronic Manufacturing', 'Consumer Products Manufacturing',
                     'Industrial Manufacturing', 'Chemical Manufacturing', 'Food & Beverage Manufacturing',
                     'Miscellaneous Manufacturing', 'Transportation Equipment Manufacturing', 'Telecommunications Manufacturing']
    consulting_services = ['Advertising & Marketing','Research & Development', 'Consulting', 'Enterprise Software & Network Solutions',
                           'Staffing & Outsourcing', 'Transportation Management',
                            'Architectural & Engineering Services', 'Farm Support Services', 'Social Assistance',
                           'Construction', 'Publishing']
    energy_utilities = ['Energy', 'Utilities', 'Oil & Gas Services', 'Timber Operations']
    retail = ['Consumer Electronics & Appliances Stores','Food & Beverage Stores', 'Other Retail Stores', 'Department, Clothing, & Shoe Stores']
    hospitality = ['Hotels, Motels, & Resorts', 'Travel Agencies']
    government_education = ['Federal Agencies', 'State & Regional Agencies', 'Colleges & Universities']
    real_estate_construction = ['Real Estate']
    space = ['Aerospace & Defense']
    trans_logistics = ['Rail','Logistics & Supply Chain','Express Delivery Services', 'Shipping']
    

    if industry in tech:
        return 'Technology'
    elif industry in finance_insurance:
        return 'Finance & Insurance'
    elif industry in healthcare_pharma:
        return 'Healthcare & Pharmaceuticals'
    elif industry in manufacturing:
        return 'Manufacturing'
    elif industry in consulting_services:
        return 'Consulting & Services'
    elif industry in energy_utilities:
        return 'Energy & Utilities'
    elif industry in retail:
        return 'Retail'
    elif industry in government_education:
        return 'Government & Education'
    elif industry in real_estate_construction:
        return 'Real Estate & Construction'
    elif industry in space:
        return 'Space'
    elif industry in hospitality:
        return 'Hospitality'
    elif industry in trans_logistics:
        return 'Transportation & Logistics'
    elif industry in 'News Outlet': 
        return "Media & Communications"
    elif industry in 'Wholesale':
        return "Distribution & Wholesale"
    else:
        return 'Other'

In [213]:
cleaned_data['Industry'] = cleaned_data['Industry'].apply(categorize_industry)
cleaned_data['Industry'].value_counts()

Industry
Consulting & Services           166
Technology                      154
Healthcare & Pharmaceuticals     89
Other                            71
Finance & Insurance              68
Space                            46
Manufacturing                    24
Government & Education           20
Energy & Utilities               12
Retail                            7
Transportation & Logistics        5
Real Estate & Construction        3
Hospitality                       3
Distribution & Wholesale          3
Media & Communications            1
Name: count, dtype: int64

***
##### Handling the Sector Col.

In [214]:
cleaned_data['Sector'].value_counts()

Sector
Information Technology                188
Business Services                     120
-1                                     71
Biotech & Pharmaceuticals              66
Aerospace & Defense                    46
Finance                                33
Insurance                              32
Manufacturing                          23
Health Care                            21
Government                             17
Oil, Gas, Energy & Utilities           10
Retail                                  7
Telecommunications                      7
Transportation & Logistics              6
Media                                   5
Real Estate                             3
Travel & Tourism                        3
Agriculture & Forestry                  3
Education                               3
Accounting & Legal                      3
Construction, Repair & Maintenance      2
Consumer Services                       2
Non-Profit                              1
Name: count, dtype: int64

In [215]:
# we replace -1 with Unknown
cleaned_data['Sector'] = cleaned_data['Sector'].replace('-1', 'Unknown')
cleaned_data['Sector'].value_counts()

Sector
Information Technology                188
Business Services                     120
Unknown                                71
Biotech & Pharmaceuticals              66
Aerospace & Defense                    46
Finance                                33
Insurance                              32
Manufacturing                          23
Health Care                            21
Government                             17
Oil, Gas, Energy & Utilities           10
Retail                                  7
Telecommunications                      7
Transportation & Logistics              6
Media                                   5
Real Estate                             3
Travel & Tourism                        3
Agriculture & Forestry                  3
Education                               3
Accounting & Legal                      3
Construction, Repair & Maintenance      2
Consumer Services                       2
Non-Profit                              1
Name: count, dtype: int64

***
##### Handling the Job Revenue Col.

In [216]:
cleaned_data['Revenue'].value_counts()

Revenue
Unknown / Non-Applicable            213
$100 to $500 million (USD)           94
$10+ billion (USD)                   63
$2 to $5 billion (USD)               45
$10 to $25 million (USD)             41
$1 to $2 billion (USD)               36
$25 to $50 million (USD)             36
$50 to $100 million (USD)            31
$1 to $5 million (USD)               31
-1                                   27
$500 million to $1 billion (USD)     19
$5 to $10 million (USD)              14
Less than $1 million (USD)           14
$5 to $10 billion (USD)               8
Name: count, dtype: int64

In [217]:
# Replacing -1 and 'Unknown / Non-Applicable' with Unknown
cleaned_data['Revenue'] = cleaned_data['Revenue'].replace({'-1': 'Unknown', 'Unknown / Non-Applicable':  'Unknown'})
cleaned_data['Revenue'].value_counts()

Revenue
Unknown                             240
$100 to $500 million (USD)           94
$10+ billion (USD)                   63
$2 to $5 billion (USD)               45
$10 to $25 million (USD)             41
$1 to $2 billion (USD)               36
$25 to $50 million (USD)             36
$50 to $100 million (USD)            31
$1 to $5 million (USD)               31
$500 million to $1 billion (USD)     19
$5 to $10 million (USD)              14
Less than $1 million (USD)           14
$5 to $10 billion (USD)               8
Name: count, dtype: int64

***
##### Handling the Job Description Col.

In [218]:
print(cleaned_data['Job Description'][1])

Secure our Nation, Ignite your Future

Join the top Information Technology and Analytic professionals in the industry to make invaluable contributions to our national security on a daily basis. In this innovative, self-contained, Big Data environment, the ManTech team is responsible for everything from infrastructure, to application development, to data science, to advanced analytics and beyond. The team is diverse, the questions are thought-provoking, and the opportunities for growth and advancement are numerous

The successful candidate will possess a diverse range of data-focused skills and experience, both technical and analytical. They will have a strong desire and capability for problem solving, data analysis and troubleshooting, analytical thinking, and experimentation.

Duties, Tasks & Responsibilities
Working with large, complex, and disparate data sets
Designing and implementing innovative ways to analyze and exploit the Sponsors data holdings
Researching and reporting on a wide variety of Sponsor inquiries
Raising proactive inquiries to the Sponsor based on observations and proposed data analysis/exploitation
Solving difficult, non-routine problems by applying advanced analytical methodologies, and improving analytic methodologies
Developing custom searches
Communicating and coordinating with internal and external partners as needed
Required Experience, Skills, & Technologies

Thorough knowledge of appropriate analytic tools and methodologies in one or more of the following:
Applied mathematics (e.g. probability and statistics, formal modeling, computational social sciences)
Computer programming (e.g. programming languages, math/statistics packages, computer science, machine learning, scientific computing)
Ability to code or script in one or more general programming language
Experience with and theoretical understanding of algorithms for classification, regression, clustering, and anomaly detection
Knowledge of relational databases, including SQL and large-scale distributed systems (e.g. Hadoop)
Expertise with statistical data analysis (e.g. linear models, multivariate analysis, stochastic models, sampling methods)
Demonstrated effectiveness in collecting information and accurately representing/visualizing it to non-technical third parties
TS/SCI with Polygraph
Bachelor of Science or equivalent and 12-15 years related experience, but will consider all levels of experience.
Desired Experience, Skills & Technologies
Previous investigative experience using a combination of technical and analytic skills
#LI-DU1

ManTech International Corporation, as well as its subsidiaries proactively fulfills its role as an equal opportunity employer. We do not discriminate against any employee or applicant for employment because of race, color, sex, religion, age, sexual orientation, gender identity and expression, national origin, marital status, physical or mental disability, status as a Disabled Veteran, Recently Separated Veteran, Active Duty Wartime or Campaign Badge Veteran, Armed Forces Services Medal, or any other characteristic protected by law.

If you require a reasonable accommodation to apply for a position with ManTech through its online applicant system, please contact ManTech's Corporate EEO Department at (703) 218-6000. ManTech is an affirmative action/equal opportunity employer - minorities, females, disabled and protected veterans are urged to apply. ManTech's utilization of any external recruitment or job placement agency is predicated upon its full compliance with our equal opportunity/affirmative action policies. ManTech does not accept resumes from unsolicited recruiting firms. We pay no fees for unsolicited services.

If you are a qualified individual with a disability or a disabled veteran, you have the right to request an accommodation if you are unable or limited in your ability to use or access http://www.mantech.com/careers/Pages/careers.aspx as a result of your disability. To request an accommodation please click careers@mantech.com and provide your name and contact information.

* we will try to retrive the skills that are demanded in each Job Description.

In [221]:
# let's combine all the skills in a list and apply the same thing 
tech_skills = ['Python', 'R', 'SQL', 'Excel', 'Tableau', 'Power BI','Hadoop', 'Spark','AWS', 'Azure',
               'Git', 'Web Scraping', 'Big Data']

for skill in tech_skills:
    cleaned_data[skill] = cleaned_data['Job Description'].apply(lambda descrip: 1 if skill.lower() in descrip.lower() else 0 ) # 1 means skill is required, 0 means it's not.

In [222]:
cleaned_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Excel,Tableau,Power BI,Hadoop,Spark,AWS,Azure,Git,Web Scraping,Big Data
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,...,0,0,0,0,0,1,1,0,0,0
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,...,0,0,0,1,0,0,0,0,0,1
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,...,1,0,0,0,0,1,0,0,0,0
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,...,1,0,0,0,0,1,0,1,0,0
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,1,0,0,0,0,0,0,0,0,0

In [223]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Job Title             672 non-null    object
 1   Salary Estimate       672 non-null    object
 2   Job Description       672 non-null    object
 3   Rating                672 non-null    float64
 4   Company Name          672 non-null    object
 5   Location              672 non-null    object
 6   Headquarters          672 non-null    object
 7   Size                  672 non-null    object
 8   Founded               672 non-null    int64
 9   Type of ownership     672 non-null    object
 10  Industry              672 non-null    object
 11  Sector                672 non-null    object
 12  Revenue               672 non-null    object
 13  Job_Title_Simplified  672 non-null    object
 14  Job_Seniority         672 non-null    object
 15  Max_Salary_Estimate   672 non-null    int64
 16  Min_Salary_Estimate   672 non-null    int64
 17  Avg_Salary_Estimate   672 non-null    int64
 18  Location_State        672 non-null    object
 19  Headquarters_City     672 non-null    object
 20  Size_Classified       672 non-null    object
 21  Years_in_Business     672 non-null    int64
 22  Python                672 non-null    int64
 23  R                     672 non-null    int64
 24  SQL                   672 non-null    int64
 25  Excel                 672 non-null    int64
 26  Tableau               672 non-null    int64
 27  Power BI              672 non-null    int64
 28  Hadoop                672 non-null    int64
 29  Spark                 672 non-null    int64
 30  AWS                   672 non-null    int64
 31  Azure                 672 non-null    int64
 32  Git                   672 non-null    int64
 33  Web Scraping          672 non-null    int64
 34  Big Data              672 non-null    int64
dtypes: float64(1), int64(18), object(16)
memory usage: 183.9+ KB

In [224]:
cleaned_data.describe()

,Rating,Founded,Max_Salary_Estimate,Min_Salary_Estimate,Avg_Salary_Estimate,Years_in_Business,Python,R,SQL,Excel,Tableau,Power BI,Hadoop,Spark,AWS,Azure,Git,Web Scraping,Big Data
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.0,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000
mean,3.593006,1991.110119,148.130952,99.196429,123.476190,32.889881,0.730655,1.0,0.529762,0.440476,0.183036,0.050595,0.212798,0.281250,0.258929,0.074405,0.218750,0.002976,0.206845
std,1.176684,39.910217,48.035110,33.009958,39.596166,39.910217,0.443950,0.0,0.499485,0.496814,0.386984,0.219333,0.409591,0.449944,0.438373,0.262624,0.413707,0.054514,0.405345
min,0.000000,1781.000000,56.000000,31.000000,43.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.300000,1983.000000,119.000000,79.000000,103.000000,9.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.800000,2004.000000,133.000000,91.000000,114.000000,20.000000,1.000000,1.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.300000,2015.000000,165.000000,122.000000,136.000000,41.000000,1.000000,1.0,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,5.000000,2024.000000,331.000000,212.000000,271.000000,243.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [225]:
cleaned_data.to_csv('DS_Jobs_Cleaned.csv', index=False)